<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wp6ct61f67"></script>
</head>
<body>
    {% if h %}
        <div id="map" style="width:50%;height:400px;"></div>

        <input type="hidden" name="lat" id="lat" value="{{p.p_latitude}}" />
        <input type="hidden" name="lng" id="lng" value="{{p.p_longitude}}" />

        <script>
            var markers = [], infoWindows = [];
            lat = document.getElementById("lat").value
            lng = document.getElementById("lng").value
        
            var mapOptions = {
                center: new naver.maps.LatLng(lat, lng),
                zoom: 10
            };
            var map = new naver.maps.Map('map', mapOptions);
        </script>

        {% for hs in h %} 
            ============================================================================<br>
            이름 : {{hs.h_name}}, 주소 : {{hs.h_address}}
            {% if hs.h_account %}
            <form action="{% url 'patient:reserveHospital' %}" method="POST">
                {% csrf_token %}
                <input type='hidden' name='h_id' value='{{hs.id}}' />
                <input type='hidden' name='p_id' value='{{p.id}}' />
                <input type="submit" name='예약하기' value='예약하기' />
            </form>
            <form action="{% url 'patient:favorite' p.id %}" method="POST">
                    {% csrf_token %}
                    <input type='hidden' name='h_id' value='{{hs.id}}' />
                    <input type="submit" name='즐겨찾기' value='즐겨찾기' />
            </form>
            {% endif %}
            <br>
            <script>
                hname = '{{hs.h_name}}'
                lath = parseFloat('{{hs.h_latitude}}')
                lngh = parseFloat('{{hs.h_longitude}}')

                var marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(lath, lngh),
                    map: map,
                });
                var infoWindow = new naver.maps.InfoWindow({
                    content: '{{hs.h_name}}'
                });

                markers.push(marker);
                infoWindows.push(infoWindow);             
            </script> 
        {% endfor %}
        <script>
            naver.maps.Event.addListener(map, 'idle', function() {
                updateMarkers(map, markers);
            });

            function updateMarkers(map, markers) {

                var mapBounds = map.getBounds();
                var marker, position;

                for (var i = 0; i < markers.length; i++) {

                    marker = markers[i]
                    position = marker.getPosition();

                    if (mapBounds.hasLatLng(position)) {
                        showMarker(map, marker);
                    } else {
                        hideMarker(map, marker);
                    }
                }
            }

            function showMarker(map, marker) {

                if (marker.setMap()) return;
                marker.setMap(map);
            }

            function hideMarker(map, marker) {

                if (!marker.setMap()) return;
                marker.setMap(null);
            }

            function getClickHandler(seq) {
                return function(e) {
                    var marker = markers[seq],
                        infoWindow = infoWindows[seq];

                    if (infoWindow.getMap()) {
                        infoWindow.close();
                    } else {
                        infoWindow.open(map, marker);
                    }
                }
            }

            for (var i=0, ii=markers.length; i<ii; i++) {
                naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
            }
        </script>

    {% else %}
        검색결과가 없습니다
    {% endif %}
    <br>
    <a href="{% url 'patient:searchHospital' p.id %}">재검색</a>
</body>
</html>