<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
    </head>
    <body>
        <form action="{% url 'patient:updateProfile' p.id %}" method="POST">
        {% csrf_token %}
            위도 : <input type="text" name='latitude' pattern='^[0-9]+(.[0-9]{1,10})?$' value='{{p.p_latitude}}' required /></br>
            경도 : <input type="text" name='longitude' pattern='^[0-9]+(.[0-9]{1,10})?$' value='{{p.p_longitude}}' required /></br>
            <input type="submit" name='수정' value='수정' />
        </form>
        <br>
        
        <a href="{% url 'patient:usermain' p.id %}">메뉴로</a>
    </body>
</html>