<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
    </head>
    <body>
        {% if ps %}
            {% for p in ps %}
            =========================================================<br>
                환자이름 : {{p.p_name}}<br>
                환자번호 : {{p.p_phone}}<br>
            {% endfor %}
        {% else %}
            조건에 맞는 검색 결과가 없습니다.<br>
        {% endif %}
        <a href="{% url 'store:storemain' s.id %}">메뉴로</a>   
    </body>
</html>