<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
    </head>
    <body>
        <form action="{% url 'store:storefiltering' s.id %}" method="POST">
            {% csrf_token %}
            날짜 선택 : <input type='date' name='date' value='none' required/><br>
            =====================================================<br>
            이름 입력 : <input type='text' name='name' value='none' required/><Br>
            =====================================================<br>
            고유 번호 : <input type='text' name='number' value='none' required/>            
            <br>
            <input type='submit' name='검색' value='검색' />
        </form> 
        <a href="{% url 'store:storemain' s.id %}">메뉴로</a>
    </body>
</html>