<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
    </head>
    <body>
        <form action="{% url 'store:storePrescribeComplete' s.id %}" method="POST">
            {% csrf_token %}
            비고사항 입력:
            <input type='text' name='ae' required value='none' />
            
            <input type='hidden' name='p_id' value='{{p.id}}' />
            <input type='hidden' name='r_id' value='{{r.id}}' />
            
            <input type='submit' name='처방' value='처방' />
        </form>

    </body>
</html>